#sub{
  display: flex;
  align-content: space-between;
  flex-flow: column wrap;
}
  
#subOrder{
  background-color: lightslategray; 
  padding: 20px 20px;
  margin: 5px;
  display: flex;
  width: 100%;
}

menu-item {
  div{
    text-align: center;
    justify-content: center;
    border :0px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    font-size: 20px;

    &:hover{
      background-color:lightgreen;
      color: black;
    }
  }
}

#subCont{
  background-image: url("../../assets/imgs/menu.jpg");
  background-size: 100vw;
}
