.button {
  background-color: lightslategrey; 
  color: black;
  text-align: center;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  margin: 5px 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  width: 100%;
}

#cameraContainer {
  text-align: center;
}

#camera {
  height: 300px;
  width: 300px;
}

#startCont{
  align-items: center;
  background-image: url("../../assets/imgs/table.jpg");
  background-size: cover;
}

#txt{
  display: flex;
  text-align: center;
  padding-left: 48%;
  font-size: 30px;
}

#lbl{
  font-size: 3vh;
}