#reviewButton {
  background-color: lightsteelblue; 
  color: black;
  text-align: center;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  margin: 5px 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  width: 100%;
}

#reviewButton:hover {
  background-color: lightgreen;
  color: black;
}

.labl{
  font-size: 30px;
  color:white;
}

#rating{
  padding: 20px 30px;
  width: 50%;
  display: block;
  background: lightblue;
}

#comments{
  padding: 20px 30px;
  width: 100vw;
}


#reviewCont{
  background-image: url("../../assets/imgs/restaurant.jpg");;
  background-size: cover;
}
